<h1>Productos en tiempo real</h1>
<ul id="productList">
  {{#each products}}
    <li>
      {{this.title}}
      -
      {{this.price}}
    </li>
  {{/each}}
</ul>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
></script>

<script>
  const socket = io(); const productList =
  document.getElementById("productList"); socket.on("products", (products) => {
  productList.innerHTML = products .map((product) => `<li>${product.title} -
  ${product.price}</li>`) .join(""); });
</script>